.react-calendar {
    width: 100% !important;
}

.memberBirthday {
    margin: 15px 0;
    text-align: left;
    display: flex;
}

.memberBirthday__avatar {
    width: 10vh;
    height: 10vh;
    border-radius: 50%;
}

.memberBirthday__para {
    margin: 0 !important;
}